@import '../variables';
.Item{
  &__name{
    font-size: 32px;
    font-weight: 600;
    color: $white;
    margin: 20px 0;
  }
  &__card{
    background-color: $gray;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    gap: 50px;
    &-images{
      display: flex;
      height: 500px;
      &-extended{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-item{
          width: 150px;
          height: 150px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%,50%;
          border: 2px solid transparent;
          border-radius: 6px;
        }
        &-item:hover{
          border: 2px solid $orange;
        }
      }
      &-main{
        width: 500px;
        height: 500px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%,50%;
        border-radius: 12px;
        margin: 0 20px;
      }
    }
    &-info{
      &-description{
        color: $white;
        font-size: 24px;
      }
      &-vendor{
        color: $dark-white;
        margin: 10px 0;
      }
      &-price-container{
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        padding: 10px 40px;
        border: 2px solid $bg-gray;
        width: fit-content;
        border-radius: 12px;
      }
      &-price{
        font-size: 24px;
        font-weight: 600;
        color: $white;
        margin: 20px 0;
      }
      &-setComment{
        &-container{
          display: flex;
          gap: 5px;
        }
        &-mark{
          margin-left: 20px;
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          span{
            font-size: 18px;
            color: $white;
            font-weight: 500;
          }
          &-full{
            color: $orange;
          }
          &-empty:hover, &-full:hover{
            color: $bg-gray;
          }
        }
        &-button{
          & > *{
            background-color: $bg-gray;
          }
        }
      }
      &-commentsTitle{
        font-size: 24px;
        color: $white;
        margin-top: 20px;
      }
      &-comments{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 20px;
        margin: 20px 0;
        border-radius: 6px;
        background-color: $bg-gray;
        &-item{
          color: $white;
          width: 100%;
          padding: 10px;
          background-color: $gray;
          border-radius: 6px;
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          &-mark{
            display: flex;
            justify-content: center;
            align-items: center;
            &-full{
              color: $orange;
            }
          }
        }
        &-empty{
          font-size: 16px;
          color: $white;
        }
      }
    }
  }
}