@import "../variables";
.NavBar{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-nav{
    display: flex;
    gap: 20px;
    & > * {
      padding: 20px 0;
    }
  }
  &-contact{
    display: flex;
  }
  &-contact{
    &-message{
      & > *{
        color: $orange;
      }
      & > *:hover{
        background-color: $white;
        color: $black;
      }
      & > *:focus, & > *:active{
        background-color: gray;
        color: $white;
      }
    }
  }
}
