@import "../../variables";
.ExtendingBar__bar{
  & > * {
    span{
      color: $orange;
    }
  }
}
.ExtendingBar__content{
  position: absolute;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 4px $gray;
  //align-items: center;
  //gap: 5px;
  &-creation{
    display: flex;
    gap: 5px;
  }
}